@use "../../styles/variables.scss" as *;
ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  & > .section {
    display: flex;
    align-items: center;
    gap: 1em;

    @media all and ($mobile) {
      & > .desc .tags {
        display: none;
      }
    }

    & > .desc > .title-with-tags > h3 > a {
      background-color: transparent;
    }

    & .meta {
      margin: 0;
      opacity: 0.6;
      white-space: nowrap;
    }

    & .desc {
      flex: 1;
    }
  }
}

// modifications in popover context
.popover .section {
  display: flex !important;
  align-items: center;
  gap: 1em;

  & > .desc .tags {
    display: none;
  }
}
